/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.idea/
/private/
/__pycache__/
/config/conf.json
*.iml
/og_image/*.jpg
/og_image/*.jpeg
/og_image/*.png
/og_image/*.gif
/og_image/*.*
/og_image/old
.DS_Store
*.csv
/csv_out/*.csv
